@import "~antd/dist/antd.css";

h2 {
  margin-right: 1.8em;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0em;
}

.movies-card {
  height: 245px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  text-align: left;
  padding-right: 14px;
  width: 387px;
}

.movies-card__poster {
  height: 100%;
  float: left;
  margin-right: 14px;
  width: 42%;
}

.movies-card__genre {
  background-color: #fafafa;
  margin: 0px 0.3em 0.3em 0;
  width: fit-content;
  height: 17px;
  font-size: 10px;
  line-height: 15px;
}

.movies-card__overview {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.vote-average .ant-badge-count {
  background-color: #fff;
  color: black;
  border: 2px solid #e9d100;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px 0 0 0;
}
/*Переопределение элемента из antd.css*/
.ant-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.movies-card__release {
  margin-bottom: 0.2em;
  font-size: 12px;
  line-height: 22px;
}

.movies-card__stars {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media screen and (min-width: 992px) {
}
